<ul id="group_tabs" class="nav nav-tabs lbl-tabs">
    <li class="<%= treeNode['active_tab'] == 0 ? 'active' : '' %>" data-url="/PRole/employee">
        <a href="#div_tab_content" data-toggle="tab">包含员工</a>
    </li>
    <li class="<%= treeNode['active_tab'] == 1 ? 'active' : '' %>" data-url="/PRole/department">
        <a href="#div_tab_content" data-toggle="tab">包含部门</a>
    </li>
    <li class="<%= treeNode['active_tab'] == 2 ? 'active' : '' %>" data-url="/PRole/privilege">
        <a href="#div_tab_content" tabindex="-1" data-toggle="tab">角色权限</a>
    </li>
</ul>
<div class="tab-content" style="height: 100%;margin-top: -50px;padding-top: 50px;">
    <div class="tab-pane active" id="div_tab_content" style="height: 100%"></div>
</div>
<div id="treeNode" style="display: none">
    <% for(let key in treeNode){ %>
    <input name="<%= key %>" value="<%= treeNode[key] %>">
    <% } %>
</div>
<script>
    $(function () {
        let $group_tabs = $("#group_tabs");
        let init_url = $group_tabs.find("li.active").data("url");
        let init_tab = $group_tabs.find("li.active a").attr("href");
        $(init_tab).load(init_url);
        $group_tabs.find("li").click(function () {
            let $li = $(this);
            let url = $li.data("url");
            let tab = $li.find("a").attr("href");
            $(tab).load(url);
            if ($(window).width() < 768) {
                setTimeout(function () {
                    fixTable()
                }, 0);
            }
        });
    });
</script>

